/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
p:first-child{
	color:white;
	background-color:black;
}
p:nth-child(2){
	color:blueviolet;
}
p:last-child{
	color:red;
}
li:nth-child(2){
	background-color:gray;
}
li:nth-child(4){
	background-color:gray;
}
li:nth-child(3){
	background-color:pink;
}
li:nth-child(1){
	background-color:white;
}
li:nth-child(5){
	background-color:white;
}
ul{
	width:50%;
	padding:10px;
	font-size:22px;
}